@page
@model cafe.Pages.Clients.DetailsModel
@{
}

<h1>Информация о книге</h1>

<div>
    <p><strong>Название:</strong> @Model.Clients.NickName</p>
    <p><strong>Автор:</strong> @Model.Clients.Fullname</p>
    <p><strong>Год:</strong> @Model.Clients.BonusPoint</p>
    <p><strong>Количество экземпляров:</strong> @Model.Clients.Email</p>
</div>

<p>
    <a asp-page="Index">Назад к списку</a>
</p>
