@page
@model cafe.Pages.Clients.EditModel
@{
    ViewData["Title"] = "Редактировать клиента";
}

<h1>Редактирование клиента</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <input type="hidden" asp-for="Client.Id" />

            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="mb-3">
                <label asp-for="Client.NickName" class="form-label"></label>
                <input asp-for="Client.NickName" class="form-control" />
                <span asp-validation-for="Client.NickName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Client.Fullname" class="form-label"></label>
                <input asp-for="Client.Fullname" class="form-control" />
                <span asp-validation-for="Client.Fullname" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Client.BonusPoint" class="form-label"></label>
                <input asp-for="Client.BonusPoint" class="form-control" />
                <span asp-validation-for="Client.BonusPoint" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Client.Email" class="form-label"></label>
                <input asp-for="Client.Email" class="form-control" />
                <span asp-validation-for="Client.Email" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                <a asp-page="Index" class="btn btn-secondary">Отмена</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}